.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#letter {
    font-size: 1000%;
}

body {
    background-color: #2e3440;
    font-family: "Montserrat";
    animation: fadein 2s;
}

div {
    color: #d8dee9;
}

button {
    background-color: #2e3440;
    border: 2px solid #d8dee9;
    border-radius: 12px;
    color: #d8dee9;
    width: 10%;
    height: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #8fbcbb;
    color: #2e3440;
}

#previous {
    margin-top: 32px;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}